<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/assets/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" />
</head>

<body>
    <div class="container">
        <h1 class="mt-4 text-center">Chat con Django</h1>
        <div class="row mt-4">
            <aside class="col-lg-4 mb-4">

                <!-- Configurar alias -->
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" class="form-control" type="text" placeholder="Oveja programadora...">
                </div>
                <!-- Fin Configurar alias -->

            </aside>
            <main class="col-lg-8">

                <!-- Mensajes -->
                <section id="mensajes" class="mb-4 border rounded p-3" style="height: 300px; overflow-y: auto;"></section>
                <!-- Fin Mensajes -->

                <!-- Enviar mensajes -->
                <section class="input-group mb-3">
                    <input id="texto" class="form-control" type="text" placeholder="Nuevo mensaje...">
                    <button id="enviar" class="btn btn-primary" type="button">Enviar</button>
                </section>
                <!-- Fin Enviar mensajes -->

            </main>
        </div>
    </div>
    <script src="{% static 'chat.js'%}"></script>
</body>

</html>
