{% extends 'proyectos2024/base.html' %}
{% load static %}
{% block titulo %} EMPAQUETADORA {% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-4">EMPAQUETADORA</h1>
    <div class="row">

        <img class="col-md-6 col-sm-12" src="{% static 'core/images/aves-exoticas.jpg' %}" />

        <div class="col-md-6 col-sm-12">
            <p> Características</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime voluptatibus nesciunt sequi placeat
                distinctio, facere, dolor nam possimus accusantium doloremque exercitationem soluta quisquam sint animi
                quos earum autem, eligendi totam?</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime voluptatibus nesciunt sequi placeat
                distinctio, facere, dolor nam possimus accusantium doloremque exercitationem soluta quisquam sint animi
                quos earum autem, eligendi totam?</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime voluptatibus nesciunt sequi placeat
                distinctio, facere, dolor nam possimus accusantium doloremque exercitationem soluta quisquam sint animi
                quos earum autem, eligendi totam?</p>
        </div>

    </div>

</div>



{%endblock%}