* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    background: #ff9888;
}

.contenedor {
    background-color: white;
    min-height: calc(100vh -20px);
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}
nav {
    background-color: #64cad1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li:hover {
    background-color: #4b868a;
}

nav ul a {
    color: rgb(74, 83, 69);
    text-decoration: none;
    font-size: 1.4rem;
}

.sencillo ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}